matplotlib>=3.4.0
pandas>=1.2.0
pillow>=8.1.0
sounddevice>=0.4.0
pygetwindow>=0.0.9
pymsgbox>=1.0.9
pyscreeze>=0.1.27
pyrect>=0.2.0
pytweening>=1.0.4
pyperclip>=1.8.2
pyarrow>=4.0.0
jinja2>=2.11.3
altair>=4.1.0
pydeck>=0.6.0
cryptography>=3.4.7
pyopenssl>=20.0.1
tornado>=6.1
protobuf>=3.15.0
pygame>=2.0.0
mediapipe>=0.10.0,<0.11.0
opencv-python>=4.5.1,<4.13.0
numpy>=1.21.0,<2.0.0